* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #F0F8FF;
    font-family: sans-serif;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}

#titulo {
    font-family: sans-serif;
    color: #133e79;
    margin-left: 1%;
    margin-bottom: 5%;
}

#logo {
  width: 40%;
  height: auto;
}

#tabela {
  font-family: sans-serif;
  color: black;
  border: 3px solid ;
  border-collapse: collapse;
}

#tabel {
  border: 3px solid #051e34;
  border-collapse: collapse;
}

#tabelas {
  border: 3px solid #051e34;
  border-collapse: collapse;
}

/* Elemento de classe "botao" */
.botaoa {
    font-family: sans-serif;
    font-size: 1.2em;
    background: #133e79;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: absolute;
    top: 80%;
    left: 43%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.botaoa:hover {
    background: #008940;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

.botaoa, select{
    cursor: pointer;
}

.botaor {
    font-family: sans-serif;
    font-size: 1.2em;
    background: #133e79;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: absolute;
    top: 80%;
    left: 61%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.botaor:hover {
    background: #008940;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

.botaor, select{
    cursor: pointer;
}

.botao {
    font-size: 1.2em;
    background: #133e79;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: absolute;
    top: 90%;
    left: 52%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.botao:hover {
    background: #008940;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

.botao, select{
    cursor: pointer;
}

#check{
    display: inline-block;
}

fieldset {
    border: 0;
}

input, select, textarea, button {
    font-family: sans-serif;
    font-size: 1em;
    color: #133e79;
    border-radius: 5px;
}

.grupo:before, .grupo:after {
    display: table;
}

.grupo:after {
    clear: both;
}

.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    color: #008940;
    display: block;
}

fieldset.grupo .campo {
    float:  left;
    margin-right: 1em;
}

.campo input[type="text"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid #133e79;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}

.campo select option {
    padding-right: 1em;
}
